/************************** Global **************************/
.title{
    color: #002e6b;
    margin-left: 8%;
    background-color: #F8C100;
}

#loading-bar .bar{
    background-color: #fff;
}

#loading-bar-spinner .spinner-icon {
    border-top-color:  #fff;
    border-left-color: #fff;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.no-padding{
	padding: 0 !important;
}


.modal-dialog{
    margin: 50px auto;
}

.alert-danger{
    background-color: #c83c24;
    color: #fff;
}

#infos{
    font-size: 16px;
    border: none;
    border-radius: 1px;
    margin:8px;
    position: fixed;
    bottom: 0px;
    z-index: 100;
}

.primaryMessage {
    right:0px;
}

/************************** Navbar **************************/

header{
    position: absolute;
    top: 0;
    left: 0;
    height: 400px;
    width: 100%;
    border-bottom: 2px solid #333;
    background-color: #0057b8;
    z-index: -1;
    background-image: url(../images/fwc_darkbluebg.png);
}

.navbar-inverse{
    height: 90px;
    margin-top: 10px;
    background-color: transparent;
    border: none;
    border-radius: 0px;
    border-color: #fff;
    border-width: 1px;
    color: #333;
}

.navbar-inverse .nav li a{
    color: #fff;
}

.navbar-inverse .nav li a .fa{
    font-size: 18px;
}

.navbar-inverse .nav li a .fa.fa-users{
    font-size: 16px;
}

.navbar-inverse .nav li a .fa:hover{
    color: #eee;
}


.navbar-inverse .nav li a:hover{
    color: #fff;
}

.navbar-inverse .nav li.dropdown.open a.dropdown-toggle{
    background-color: #002e6b;
}

.navbar-inverse .nav li a.blacklink{
    color: #333;
}

.navbar-inverse .navbar-brand img{
    width: 100px;
    margin-left: 15px;
}

.navbar-inverse .navbar-brand{
    padding: 0px;
}

.top-menu{
    font-size:20px;
    margin-top:10px;
}

.top-menu a{
    color:#fff;
    padding:10px;
}

    /************************** Connection **************************/

.guest img{
    display: block;
    margin: 50px auto;
}

.login-form {
    margin: 20px auto;
    max-width:300px;
}

.login-form input {
    margin: 20px auto;
    margin-bottom: 10px;
}

.login-form button{
    color: white;
    border-radius: 0;
    background-color: #0057b8;
    border: none;
    margin-top: 20px;
}

.login-form button:hover{
    background-color: #002e6b;
    border: none;
}

.login-form input{
    height: 50px;
    border-radius: 0;
}

.login-form input:focus{
    border-color: #0057b8;
    z-index: -2;
}

.login-form input[type="email"] {
    margin-bottom: -1px;
}
.login-form input[type="password"] {
    margin-bottom: 10px;
}

.login-form a{
    text-decoration: none;
    color: #0066f4;
}

/************************** ADMIN **************************/

#admin-panel{
    position: relative;
    margin-top: 125px;
    z-index: 10;
    padding-top: 20px;
}

#menu-admin{
    position: relative;
    padding: 10px;
    border-radius: 1px;
}

#menu-admin .nav {
    float: none;
}

#users-list{
    background-color: #fff;
}

/************************** Games **************************/

#games-panel{
    position: relative;
    margin-top: 125px;
    z-index: 10;
    padding-top: 20px;
}

#account-panel{
    width: 40%;
}

#games-list{
    background-color: #fff;
    /*box-shadow: 0px 2px 7px #aaa;*/
    padding-bottom: 25px;
    margin-bottom: 30px;
}

#games-list .jumbotron{
    margin-top: 15px;
    border-radius: 2px;
}

#menu-games{
    position: relative;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 1px;
}

ul.nav.nav-pills{
    float: left;
}

ul.nav.nav-pills li:not(:first-child){
	margin-left:20px;
}

ul.nav.nav-pills li a{
    color: #333;
    background-color: #fff;
    border-radius: 50px;
}

ul.nav.nav-pills li a:hover{
    background-color: #47a447;
    color: #fff;
}

ul.nav.nav-pills li.active a{
    background-color: #47a447;
    color: #fff;
}

.my-points .btn-group{
    float: right;
}

.my-points .btn-default{
    margin-top: 2px;
    background-color: #47a447;
    border-color: #47a447;
    border-radius: 50px;
    color: #fff;
    padding: 10px 15px;
}


.game-header{
    background-color: #c5181f;
    color: #fff;
    height: 80px;
    padding: 5px 30px;
}

.game-previous-header {
    background-color: #0057b8;
    color: #fff;
    height: 80px;
    padding: 5px 30px;
}


.game{
    border-top: 1px solid #eee;
}

.game:first-child{
    border-top: none;
}


.game .team1-name,.game .team2-name{
	padding: 25px 0px;
	font-size:1.8em;
	font-family: 'Open Sans', sans-serif;
	font-weight:bold;
	padding:10px;
}

.game .team1-name img,.game .team2-name img{
	margin:30px;
	width: 100px;
}

.game .team2-name{
	text-align: right;
	height: 110px;
}


.game .team2-name img{
	float:right;
}

.game .team2-name span{
	margin-top: 30px;
    display: block;
}

@media(max-width:992px){
	
	.container{
		padding:0px;
	}
	
	.game .team1-name,.game .team2-name{
		padding:10px;
		text-align: center;
		font-size:1.3em;
	}	
	
	.game .team1-name img,.game .team2-name img{
		margin:10px;
		width:60px;
		float: none;
	}
		
	.game .team1-name span, .game .team2-name span{
		display: block;
		margin-top: 0px;
	}
}

.game h2{
    padding: 25px 0px;
	font-family: 'Open Sans', sans-serif;
	font-weight:bold;
}

.game h2.subheader{
    padding: 0;
	font-family: 'Open Sans', sans-serif;
	font-weight:normal;
}

.game h3{
    /* padding: 30px 0px; */
    text-align: center;
}

.game h3.goals-team1{
    text-align: right;
}

.game h3.goals-team2{
    text-align: left;
}

.game h5 {
    margin-top: 10px;
	margin-bottom:-4px;
}

.game button.btn{
    display: block;
    float: none;
    border-radius: 50px;
    margin: 15px auto;
    margin-bottom:20px;
    background-color: #333; 
    border: none;
    color: #fff;
    font-weight: bold;
}

.game button.btn.btn-success{
    background-color: #47a447;
}

.game .col-xs-6 img{
    margin: 0 auto;
    margin-top: 40px;
}

.game .label{
    margin: 0 10px;
}

.game .minute {
    color:#fff;
    font-weight: bold;
	padding:5px;
    border-radius: 10px;
	font-family: 'Open Sans', sans-serif;
	
	font-size:15px;
}

.game .minute .point {
	animation: blink 1s infinite ;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

/************************** Group *************************/

.group .subheader {
    background-color: #0057b8;
    color: #fff;
    height: 60px;
    padding: 12px 30px;
}

.group ul {
    list-style: none;
    padding: 0px;
    padding-left: 5px;
}

.group ul li {
    margin-top: 10px;
    font-size: 15px;
}

.group ul li .points {
    float:right;
    background-color: #c5181f;
    color: white;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.group ul li img {
    width:50px;
}

/************************** Ranking *************************/

.users .modal-body {
    background-color: #0057b8;
    background-image: url(../images/fwc_darkbluebg.png);
    color: white;
}

.users .modal-body .nav {
    margin-bottom: 20px;
}

.users .modal-body .alert-info {
    background-color: #47a447;
    border-color: #47a447;
    color: white;
}

.users .modal-body .user {
    margin-top: 5px;
}

.users .modal-body .user .position {
    float:left;
    font-size: 25px;
    background-color: #c5181f;
    color: white;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.users .modal-body .user .login {
    float:left;
    margin-left: 20px;
    font-size: 25px;
    padding-top: 5px;
    text-transform: uppercase;
}

.users .modal-body .user .points {
    float: right;
    background-color: #47a447;
    padding: 10px;
    border-radius: 50px;
    color: white;
    font-size: 17px;
}

/*.users .table h3{
    display: inline-block;
    padding: 5px 5px;
}

.users .table img{
    display: inline-block;
    padding: 10px 5px;
    margin-bottom: 10px;
}

.users .table h3 .lastname{
    display: inline;
    text-transform: uppercase;
}*/

/************************** Account *************************/

.account .row{
    margin-bottom: 15px;
}

.account label{
    display: inline;
}

.account input{
    display: inline;
    border-radius: 2px;
}

/************************** Bracket *************************/
#bracket {
    padding:30px;
}

.wrapper {
    margin: 0;
    width: 100%;
    overflow: hidden;
    border-radius: 0 5px 5px 5px;
}

/* theme */
.g_gracket { width: 9999px; background-color: #fff; padding: 55px 15px 5px; line-height: 100%; position: relative; overflow: hidden;}
.g_round { float: left; margin-right: 45px; width:170px; }
.g_game { position: relative; margin-bottom: 15px; box-shadow: 3px 4px 0px #ddd; border: 1px solid #fff; border-top: 0; border-left: 0; }
.g_gracket h3 { min-width: 180px; margin: 0; padding: 10px 8px 8px; font-size: 15px!important; font-weight: normal; color: #b3afa7; font-size: 20px; text-shadow: 1px 1px 1px #333;} /* @note: this width determinds node size */
.g_team { background: #423c3c; }
.g_team h3 small{font-size: 65%;color: #fff;float: right;font-weight: bold;margin-right: 10px;margin-top: 5px;}
.g_round_label { top: -5px; font-weight: normal; color: #ccc; text-align: center; font-size: 18px}
.g_team:last-child {  /*background: #FCB821;*/ border-top: 1px solid #47a447; }
.g_round:last-child { margin-right: 20px; }
.g_winner { background: #47a447; }
.g_winner .g_team { background: none; }
.g_current { cursor: pointer; background: #47a447!important; }
.g_current small { color: white; }
.g_current h3 { color: white; }
/*
.g_seed { font-size:14px; float:right; margin-right: 8px; background-color: #47a447; height: 37px; margin-top: -10px; padding:10px;  text-align:center; padding-top:12px; }*/

/* secondary-bracket */
.container-secondary { position: relative; overflow: hidden; }
.secondary-bracket { bottom: 50px; left: 690px; position: absolute; width: 450px; }
#bracket h4 { color: #CCCCCC; font-weight: normal; left: 0; margin: 0; padding: 0; position: absolute; bottom: 60px; z-index: 9999; }
.secondary-bracket .g_round_label { top: -30px; }
.secondary-bracket > div { padding-top: 35px;}


/************************** Bets **************************/

.modal-content{
    border-radius: 2px;
}

.bet .row{
    margin-top: 10px;
    margin-bottom: 20px;
}

.bet .row:first-child{
    margin-top: 0px;
}

.bet .row:last-child{
    margin-bottom: 5px;
}

.bet .team1{
    float: left;
}

.bet .team2{
    float: right;
}

.bet .modal-body{
    padding: 0px 15px;
    background-color: #fff;
}

.bet .modal-footer{
    margin-top: 0px;
}

.bet .modal-body img{
    display: inline;
    width: 50px;

    margin-top: -5px;
    margin-left: 10px;
    margin-right: 10px;
}

.bet .modal-body h4{
    display: inline;
}

.bet .modal-body select{
    border-radius: 2px;
}

.bet .modal-body input[type="text"]{
    border-radius: 2px;
}

.bet .modal-body input[type="text"].team{
    width: 45px;
    height: 37px;
    display: inline;
    margin: 6px 0px;
}

.bet .modal-body input[type="text"].team.one{
    float: right;
}

.bet .modal-body input[type="text"].team.two{
    float: left;
}

.bet .modal-body .row{
    padding: 5px 0px;
    background-color: #fff;
}

.bet .modal-body .row .score{
    padding: 10px 0px;
    box-shadow: 0px 2px 2px #aaa;
}

.bet button.btn-primary{
    background-color: #0057b8;
    border-color: #002e6b;
}

.bet button.btn-warning{
    background-color: #f0ad4e;
}

.bet .dash{
    text-align: center;
    margin: 12px 0px;
}

.game .tLogo50 {
    margin-top:25px;
}

.bet .tLogoSmall {
    margin-top:10px;
}

.bet h4 {
    line-height: 40px;
}

.bet-input-form #team1Score{
     margin-right:-10px;
 }

.bet-input-form #team2Score{
    margin-left:-10px;
}

.bet-input-form span{
    margin-top:14px; display:inline-block
}


.bet_bonus .modal-body {
    padding:0px;
}

.bbt {
    background-color: #0057b8;
    background-image: url(../images/fwc_darkbluebg.png);
    color: white;
    padding: 10px;
    height: 65px;
}

.bbt:not(:last-child) {
    border-bottom: 2px solid #47a447;
}

.bbt h2 {
    font-size: 20px;
    margin: 10px;
    float: left;
}

.bbt select {
    background-color: #47a447;
    border-color: #47a447;
    color: white;
    width: 150px;
    float: right;
    margin-top: 5px;
}

.bbt select[disabled] {
    background-color: #3c763d;
    border-color: #3c763d;
    color: white;
}

.room .nbUsers{
    background-color: #0057b8;
    color:white;
    float: right;
    padding: 10px;
    margin-top: -10px;
}

.room .code{
    background-color: #47a447;
    color:white;
    float: right;
    padding: 10px;
    margin-top: -10px;
    margin-right: -15px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}