<div class="bet">
    <div class="modal-header" >
        <h3 class="modal-title" ng-hide="bet.id != null">Placer un pari</h3>
        <h3 class="modal-title" ng-show="bet.id != null">Mon pari</h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-xs-12 score" ng-class="{'hasBottom' : game.kick_at_goal == 1 && bet.team2_points == bet.team1_points}">
                <div class="col-xs-6 dash hidden-sm hidden-lg hidden-md">
                    <input ng-change="updateWinner()" placeholder="?" onFocus="this.selectionStart=0; this.selectionEnd=this.value.length;" onTouchEnd="this.selectionStart=0; this.selectionEnd=this.value.length;" onMouseUp="return false" ng-model="bet.team1_points"   min="0" max="99" step="1" type="number" class="form-control team two" ng-change="check()" required/>
                </div>
                <div class="col-xs-6 dash hidden-sm hidden-lg hidden-md">
                    <input ng-change="updateWinner()" placeholder="?"  onFocus="this.selectionStart=0; this.selectionEnd=this.value.length;" onTouchEnd="this.selectionStart=0; this.selectionEnd=this.value.length;" onMouseUp="return false" ng-model="bet.team2_points"  min="0" max="99" step="1" type="number" class="form-control team one" ng-change="check()" required/>
                </div>

                <div class="col-xs-6  col-sm-4 text-center">
                    <h4>@@ game.team1.name @@</h4><br />
                    <img width="50px" src="images/flags/@@ game.team1.code.toLowerCase() @@"/>
                    <div ng-show="bet.winner_id == game.team1.id" class="winnerFlag one" ><i class="fa fa-check"></i></div>
                </div>
                <div class="col-xs-4 dash hidden-xs">
                    <input ng-change="updateWinner()" ng-model="bet.team1_points" type="text" class="form-control team one" ng-change="check()"  required/>
                    <span>-</span>
                    <input ng-change="updateWinner()" ng-model="bet.team2_points" type="text" class="form-control team two" ng-change="check()" required/>
                </div>
                <div class="col-xs-6 col-sm-4 text-center">
                    <div class="team2">
                        <h4>@@ game.team2.name @@</h4><br />
                        <img width="50px" src="images/flags/@@ game.team2.code.toLowerCase() @@"/>
                        <div ng-show="bet.winner_id == game.team2.id" class="winnerFlag two" ><i class="fa fa-check"></i></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" id="winner" ng-show="game.kick_at_goal == 1 && bet.team2_points == bet.team1_points">
            <div class="col-xs-12">
                <label>Pays gagnant</label>
                <select ng-disabled="game.kick_at_goal == 0 || bet.team2_points != bet.team1_points" class="form-control" ng-model="bet.winner_id" ng-options="team.id as team.name for team in teams"></select>
            </div>
        </div>
    </div>
    <div class="modal-footer" style="border:none;">
        <button class="btn btn-success" ng-hide="bet.id != null" ng-click="ok()">Parier</button>
        <button class="btn btn-success" ng-hide="bet.id == null" ng-click="ok()">Modifier</button>
        <button class="btn btn-warning" ng-click="cancel()">Annuler</button>
    </div>

</div>