<div class="container" id="games-panel" ng-show="isConnected">

    <div class="my-points">
        <div class="btn-group" >
            <button type="button" class="btn btn-default" ng-controller="transactionsControllerModal" ng-click="open()" >@@ user.winPoints @@ XP</button>
            <button type="button" class="btn btn-default" ng-controller="helpControllerModal" ng-click="open()" >Aide <i class="fa fa-question-circle"></i></button>
        </div>
    </div>

        <div class="col-xs-12" id="menu-games">
            <ul class="nav nav-pills">
                <li class="active" ><a href="#" id="filter-list" ng-click="filterList()"><span class="hidden-xs">Liste des </span>Matchs</a></li>
                <li><a href="#" id="filter-gamesPrevious" ng-click="filterGamesPrevious()"><span class="hidden-xs">Matchs </span>Terminés</a></li>
                <li><a href="#" id="filter-groups" ng-click="filterGroups()">Groupes</a></li>
                <li><a href="#" id="filter-bracket" class="hidden-xs hidden-sm" ng-click="filterBracket()">Arbre</a></li>
            </ul>
        </div>

        <div class="col-xs-12" id="games-list">
            
            <div id="games">
                <div class="game row" ng-class="{'inprogress' : (game.team1_points != null || game.team2_points != null)}" ng-repeat="game in games | groupBy:['stage_id']" >
                    <div class="col-xs-12 game-header animated fadeIn" ng-show="game.group_by_CHANGED">
                        <button type="button" class="btn btn-success pull-right" ng-controller="betBonusControllerModal" ng-click="open()" style="padding:12px;" ><i class="fa fa-plus"></i> Paris bonus</button>
                        <h2 class="subheader" ng-show="game.stage != null">@@ game.stage.name @@</h2>
                        <h2 class="subheader" ng-hide="game.stage != null"><span class="hidden-xs">Phase de poule</span><span class="hidden-lg hidden-md hidden-sm">Poules</span></h2>
                    </div>
                    <div class="col-xs-4 team1-name">
                        <span class="btn btn-success bet"  ng-show="game.user_bet" ng-class="betColor(game, 1)">@@ game.user_bet.team1_points @@</span>
                        <img src="images/flags/@@ game.team1.code.toLowerCase() @@"/>
                        <span>@@ game.team1.name @@</span>
                    </div>
                    <div class="col-xs-4 text-center inprogress" ng-show="game.team1_points != null || game.team2_points != null">
                        <h5>En cours</h5>
                        <span class="minute label label-primary"><span class="point" >•</span> @@ game.minute @@'</span>
                        <div class="row scores">
                        	<div class="col-xs-4 no-padding"><h3 class="goals-team1">@@ game.team1_points @@</h3></div>
							<div class="col-xs-4 no-padding"><h3>—</h3></div>
							<div class="col-xs-4 no-padding"><h3 class="goals-team2">@@ game.team2_points @@</h3></div>
                        </div>
                        <button class="btn btn-default lstBet" ng-click="open(game)" >
                            Liste des paris
                        </button>
                    </div>
                    <div class="col-xs-4" ng-show="game.team1_points == null && game.team2_points == null" style="margin-top: 10px;">
                        <div class="col-xs-12 col-centered text-center" >
                            <button ng-hide="game.user_bet"class="btn btn-success" ng-controller="betsControllerModal" ng-click="open(game, user)">
                                <i class="fa fa-plus"></i>
                            </button>
                            <button ng-show="game.user_bet" class="btn btn-default" ng-controller="betsControllerModal" ng-click="open(game, user)">
                                <i class="fa fa-pencil"></i>
                            </button>
                        </div><p style="clear:both;" ></p>
                        <div class="col-xs-12 col-centered text-center" >
                            <h5>@@game.date | amDateFormat:'DD/MM à HH:mm'@@</h5>
                        </div>
                    </div>
                    <div class="col-xs-4  team2-name">
                        <span class="btn bet" ng-show="game.user_bet" ng-class="betColor(game, 2)" >@@ game.user_bet.team2_points @@</span>
                        <img src="images/flags/@@ game.team2.code.toLowerCase() @@" /><span>@@ game.team2.name @@</span>
                    </div>
                </div>
                <div class="jumbotron" ng-show="games.length == 0">
                    <img src="images/no-games.jpg" width="180" class="pull-left">
                    <h2>Pas de match pour le moment :(</h2>
                </div>
            </div>
            <div id="gamesPrevious">
                <div class="game row" ng-repeat="game in gamesPrevious | groupBy:['stage_id']" >
                    <div class="col-xs-12 game-previous-header animated fadeIn" ng-show="game.group_by_CHANGED">
                        <h2 class="subheader" ng-show="game.stage != null">@@ game.stage.name @@</h2>
                        <h2 class="subheader" ng-hide="game.stage != null"><span class="hidden-xs">Phase de poule</span><span class="hidden-lg hidden-md hidden-sm">Poules</span></h2>
                    </div>
                    <div class="col-xs-4 team1-name">
                        <span class="btn bet" ng-show="game.user_bet" ng-class="betColor(game, 1)" >@@ game.user_bet.team1_points @@</span>
                        <img src="images/flags/@@ game.team1.code.toLowerCase() @@"/><span>@@ game.team1.name @@</span>
                    </div>
                    <div class="col-xs-4 text-center" ng-show="game.team1_points != null || game.team2_points != null">
                        <h5 class="game-previous-experience text-success" ng-show="game.user_bet.win_points && game.user_bet.win_points!=0 ">+@@ game.user_bet.win_points @@XP</h5>
                        <h5 class="game-previous-experience text-danger" ng-show="!game.user_bet.win_points || game.user_bet.win_points==0">0XP</h5>

                        <div class="col-xs-4 no-padding"><h3 class="goals-team1">@@ game.team1_points @@</h3></div>
                        <div class="col-xs-4 no-padding"><h3>—</h3></div>
                        <div class="col-xs-4 no-padding"><h3 class="goals-team2">@@ game.team2_points @@</h3></div><br />
                        <button class="btn btn-default" ng-click="open(game)">
                            Liste des paris
                        </button>
                    </div>

                    <div class="col-xs-4  team2-name">
                        <span class="btn bet" ng-show="game.user_bet" ng-class="betColor(game, 2)" >@@ game.user_bet.team2_points @@</span>
                        <img src="images/flags/@@ game.team2.code.toLowerCase() @@" /><span>@@ game.team2.name @@</span>
                    </div>
                </div>
                <div class="jumbotron" ng-show="gamesPrevious.length == 0">
                    <img src="images/no-games.jpg" width="180" class="pull-left">
                    <div class="hidden-md hidden-sm hidden-lg"> </div>
                    <h2>Pas de match pour le moment :(</h2>
                </div>
            </div>
            <div id="groups">
                <div class="row" >
                    <div class="col-md-3 col-sm-6 group" ng-repeat="group in groups" >
                        <h2 class="subheader" >@@ group.name @@</h2>
                        <ul>
                            <li ng-repeat="team in group.teams  | orderBy : '-points'" ><img src="images/flags/@@ team.code.toLowerCase() @@"> @@ team.name @@ <div class="points">@@ team.points @@</div></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div id="bracket">
                <div class="wrapper" >
                    <div id="rounds" >

                    </div>
                </div>
                <div class="wrapper secondary-bracket" >
                    <div id="third" >

                    </div>
                </div>
            </div>
        </div>
</div>
