<div class="bet">
    <div class="modal-header" >
        <h3 class="modal-title" >Détail du match</h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-xs-12 score finished hasBottom">
                <div class="col-xs-4 text-center">
                    <h4>@@ game.team1.name @@</h4><br />
                    <img width="50px" src="images/flags/@@ game.team1.code.toLowerCase() @@"/>
                    <div ng-show="game.winner_id == game.team1.id" class="winnerFlag one" ><i class="fa fa-check"></i></div>
                </div>
                <div class="col-xs-4 bet-input-form dash">
                    <h2>@@ game.team1_points @@</h2>
                    <h2>-</h2>
                    <h2>@@ game.team2_points @@</h2>

                    <h5 ng-show="game.status=='completed'" >@@game.date | amDateFormat:'DD/MM à HH:mm'@@</h5>

                    <h5 ng-show="game.status=='in_progress'">En cours</h5>

                    <span class="minute label label-primary" ng-show="game.status=='in_progress' && game.time != 'half-time' && game.time != 'full-time'" ><span class="point" >•</span> @@ game.time @@</span>
                    <span class="minute label label-primary" ng-show="game.status=='in_progress' && game.time == 'half-time' && game.time != 'full-time'" >MI-TEMPS</span>
                </div>
                <div class="col-xs-4  text-center">
                    <div class="team2">
                        <h4>@@ game.team2.name @@</h4><br />
                        <img width="50px" src="images/flags/@@ game.team2.code.toLowerCase() @@"/>
                        <div ng-show="game.winner_id == game.team2.id" class="winnerFlag two" ><i class="fa fa-check"></i></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div ng-hide="bets.length == 0" >
                    <ul class="nav nav-pills" ng-show="user.rooms.length > 1">
                        <li ng-repeat="room in user.rooms" ng-class="{'active' : selector==room.id}" ><a href="#" ng-click="select(room.id)" >@@room.name@@</a></li>
                    </ul><br />

                    <div class="userBet" ng-repeat="bet in bets | orderBy : detailedOrderedScore" ng-show="showBet(bet)" >
                        <div class="userScore" >
                            <b>@@ bet.team1_points @@</b> - <b>@@ bet.team2_points @@</b>
                        </div>
                        <div class="userPoints" ng-show="gameDateIsBeforeNow() && game.status=='completed'" >
                            + @@ bet.win_points @@ XP
                        </div>
                        <span class="userLogin" ng-class="{'me' : bet.user.id == user.id}" >
                            @@ bet.user.firstname @@ @@ bet.user.lastname @@.
                        </span>
                    </div><br />
                </div>

                <div class="alert alert-info" ng-show="bets.length == 0" role="alert">Aucun paris sur ce match !</div>
            </div>
        </div>
    </div>
    <div class="modal-footer" >
        <button class="btn btn-warning" ng-click="cancel()">Fermer</button>
    </div>

</div>