<div class="help">
    <div class="modal-header">
        <h3 class="modal-title" > F.A.Q </h3>
    </div>
    <div class="modal-body">
        <h2>Comment les points sont distribuées ?</h2>

        <p>
            Pour chaque pronostique, 3 cas de figures sont possibles :
            <ul>
                <li>Vous avez mis le score exacte (ex : 2-0 pronostiqué, 2-0 en réalité), alors dans ce cas vous receverez <span class="label label-primary">40 points</span></li>
                <li>Vous avez un écart identique (ex : 2-0 pronostiqué, 3-1 en réalité), alors dans ce cas vous receverez <span class="label label-primary">20 points</span></li>
                <li>Vous avez le bon vainqueur (ex : 2-0 pronostiqué, 1-0 en réalité), alors dans ce cas vous receverez <span class="label label-primary">10 point</span></li>
            </ul>

            S'ajoute à cela, les paris bonus :
            <ul>
                <li>Pour une équipe en finale et à la bonne place : <span class="label label-primary">100 points</span></li>
                <li>Pour une équipe en finale mais pas à la bonne place : <span class="label label-primary">50 points</span></li>
            </ul>
        </p>
    </div>
</div>
