<div class="help">
    <div class="modal-header">
        <h2 class="modal-title" > F.A.Q </h2>
    </div>
    <div class="modal-body">
        <h2>Comment les points sont-ils distribués ?</h2>

        <p>
            Pour chaque pronostic, 3 cas de figures sont possibles :
            <ul>
                <li>Vous avez mis le score exact (ex : 2-0 pronostiqué, 2-0 en réalité), alors dans ce cas vous recevrez <span class="label label-primary">40 points</span></li>
                <li>Vous avez un écart identique (ex : 2-0 pronostiqué, 3-1 en réalité), alors dans ce cas vous recevrez <span class="label label-primary">20 points</span></li>
                <li>Vous avez le bon vainqueur (ex : 2-0 pronostiqué, 1-0 en réalité), alors dans ce cas vous recevrez <span class="label label-primary">10 points</span></li>
            </ul>

            Pour les matchs à partir des 8ème de finales (match nul non autorisé), le score que vous renseignez correspond au score avant la séance de T.A.B (si pas de prolongation, alors correspond au score à la 90').

        <br /><br />

        S'ajoutent à cela, les paris bonus :
            <ul>
                <li>Pour une équipe en finale et à la bonne place : <span class="label label-primary">100 points</span></li>
                <li>Pour une équipe en finale mais pas à la bonne place : <span class="label label-primary">50 points</span></li>
            </ul>
        </p>

        <h2>Les scores seront-ils rafraîchis en direct ?</h2>

        <p>
            Oui les scores seront rafraîchis avec un interval d'une minute.
        </p>

        <h2>Est-il possible d'inviter mes amis sur Kupi.fr ?</h2>

        <p>
            Oui vous avez la possibilité de créer un salon puis de partager le lien d'inscription à ce salon.
        </p>

        <h2>J'ai trouvé un bug ou j'ai une idée d'amélioration, est-il possible de contacter l'équipe ?</h2>

        <p>
            Oui vous avez la possibilité d'ouvrir une <i>issue</i> sur le projet GitHub de Kupi. L'adresse du GitHub est la suivante : <a target="_BLANK" href="https://github.com/clemh78/worldcup" >https://github.com/clemh78/worldcup</a>
        </p>
    </div>
</div>
