<div class="users">
    <div class="modal-header">
        <h3 class="modal-title">Classement</h3>
    </div>
    <div class="modal-body">


        <div class="alert alert-info" ng-show="rooms.length == 0" role="alert">Rejoignez un salon avec vos amis pour partager vos résultas</div>

        <ul class="nav nav-pills" ng-show="rooms.length > 1">
            <li ng-class="{'active' : selector=='all'}" ><a href="#" ng-click="select('all', users)" >Tous les utilisateurs</a></li>
            <li ng-repeat="room in rooms" ng-class="{'active' : selector==room.room.id}" ><a href="#" ng-click="select(room.room.id, room.users)" >Salon : @@room.room.name@@</a></li>
        </ul>

        <div class="user" ng-repeat="user in usersSelect | orderBy : '-winPoints'">
            <div class="position" >
                #@@ $index + 1 @@
            </div>
            <span class="points" >@@ user.winPoints @@ XP</span>
            <span class="login hidden-sm hidden-md hidden-lg" >@@ user.firstname | limitTo:12 @@ @@ user.lastname @@.</span>
            <span class="login hidden-xs" >@@ user.firstname @@ @@ user.lastname @@.</span>
        </div>
    </div>
</div>

