<div class="room">
    <div class="modal-header">
        <h2 class="modal-title">Mes salons</h2>
    </div>
    <div class="modal-body">
        <ul class="list-group">
            <li ng-repeat="room in user.rooms" class="list-group-item">
                <b>@@room.name@@</b>
                <div class="code">Code du salon : <b>@@room.code@@</b></div>
                <div class="nbUsers">@@room.nbUsers@@ joueurs</div>
            </li>
        </ul>

        <div class="alert alert-info" ng-show="user.rooms.length == 0" role="alert">Vous avez rejoins aucun salon !</div>

        <hr>

        <div class="row" >
            <div class="col-xs-9" >
                <input type="text" ng-model="roomCode" class="form-control" placeholder="Code du salon"/>
            </div>
            <div class="col-xs-3" >
                <button style="float:right;" class="btn btn-default" ng-click="addRoom()">Rejoindre</button>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-warning" ng-click="cancel()">Annuler</button>
    </div>
</div>
